
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>{{name}}</h1>
    {{render 'partial-address' addresses}}
    <br>
    {{render 'partial-genre' genres}}
    <p></p><p></p>

    <br>
    <p>Description: {{description}}</p>
    {{render 'partial-musician' musicians}}
  </div>
</div>

