{{#each itemController='band' }}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xs-height ">
    <div class="association-item">
      <div class="association-image">
          {{#link-to 'band' this.slug}}
            <img {{bind-attr src="this.bandImgUrl"}} />
          {{/link-to}}
      </div>
      <div class="association-info">
        <ul>
          <li class="association-project-name">{{this.name}}</li>
            {{render 'partial-genre-panel'  this.genres}}
            {{render 'partial-address-panel' this.addresses}}
          <br/>

          {{#if this.isEditable}}
            <button {{action "bandEdit" this.slug}}>Edit</button>
            <li class="read-more">{{#link-to 'band.edit' this.slug className='btn'}}Read More{{/link-to}}</li>
            {{else}}
            <li class="read-more">{{#link-to 'band' this.slug className='btn'}}Read More{{/link-to}}</li>
          {{/if}}

        </ul>
      </div>
    </div>
  </div>
{{else}}
  NOPE
{{/each}}


